// Variables

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {
  --color-primary: #9370b4;
  --background-color: #555;
  --background-pad-container: #282828;

  --color-pad-1: #ff1177;
  --color-pad-2: #ffdd1b;
  --color-pad-3: #228dff;
  --color-pad-4: #b6ff00;
  --color-pad-5: #ff9900;
  --color-pad-6: #ba01ff;
  --color-pad-7: #ff073a;
  --color-pad-8: #001eff;
  --color-pad-9: #ff6600;
  --font-screens: "Orbitron", sans-serif;
}
