@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  max-width: 160rem;
  font-style: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color); }

:root {
  --color-primary: #9370b4;
  --background-color: #555;
  --background-pad-container: #282828;
  --color-pad-1: #ff1177;
  --color-pad-2: #ffdd1b;
  --color-pad-3: #228dff;
  --color-pad-4: #b6ff00;
  --color-pad-5: #ff9900;
  --color-pad-6: #ba01ff;
  --color-pad-7: #ff073a;
  --color-pad-8: #001eff;
  --color-pad-9: #ff6600;
  --font-screens: "Orbitron", sans-serif; }

.container {
  background-color: var(--background-pad-container);
  border-radius: 10px;
  box-shadow: inset 0 0 5px #111;
  height: 40rem;
  width: 70rem;
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1.5fr) 0.5fr repeat(3, 1.3fr) 0.5fr;
  grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-gap: 1rem;
  grid-template-areas: ". . . . . . . . ." ". pad pad pad . control control control ." ". pad pad pad . control control control ." ". pad pad pad . control control control ." ". . . . . . . . ."; }

@media only screen and (max-width: 37.5em) {
  .container {
    background-color: var(--background-pad-container);
    height: 55rem;
    width: 35rem;
    grid-template-rows: 0.5fr repeat(3, 1.5fr) 0.5fr repeat(3, 1fr) 0.5fr;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
    grid-template-areas: ". . . . ." ". pad pad pad ." ". pad pad pad ." ". pad pad pad ." ".  .  .   .   ." ". control control control ." ". control control control ." ". control control control ." ". . . . ."; } }

@media only screen and (max-width: 23.43em) {
  .container {
    background-color: var(--background-pad-container);
    height: 55rem;
    width: 35rem;
    grid-template-rows: 0.5fr repeat(3, 1.5fr) 0.5fr repeat(3, 1fr) 0.5fr;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
    grid-template-areas: ". . . . ." "pad pad pad pad pad" "pad pad pad pad pad" "pad pad pad pad pad" ".  .  .   .   ." ". control control control ." ". control control control ." ". control control control ." ". . . . ."; }
    .container .pad {
      margin: 0 0.7rem; } }

.pad {
  grid-area: pad;
  background-color: var(--background-pad-container);
  border-radius: 7px;
  box-shadow: inset 0 0 5px #111;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px; }

.control {
  grid-area: control;
  background-color: var(--background-pad-container);
  border-radius: 7px;
  box-shadow: inset 0 0 5px #111;
  display: grid;
  grid-template-rows: 0.5fr [volume-start] 1.2fr [volume-end controls-start] 1.2fr [controls-end display-start] 1.2fr [display-end] 0.5fr [copy-start] 1fr [copy-end];
  grid-row-gap: 10px; }

.logo {
  grid-area: 1 / 2 / 2 / 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262626; }
  .logo p {
    letter-spacing: 0.3rem;
    font-family: var(--font-screens);
    color: lightgrey;
    font-size: 2rem; }

.btn-panel {
  color: #555;
  align-self: center;
  justify-self: center;
  height: 80%;
  width: 80%;
  grid-row: controls-start / controls-end;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .btn-panel__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-screens);
    font-size: 1.3rem; }
  .btn-panel__btn {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-image: radial-gradient(at 25% bottom, #161616, #282828 50%, grey);
    box-shadow: 1px 1px 1px 1px #161616; }

.pad-btn {
  margin: 1rem 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.6s; }
  .pad-btn:nth-child(1) {
    margin-left: 1rem;
    background-color: rgba(255, 17, 119, 0.65);
    -webkit-animation: neon1 1.5s ease-in infinite alternate;
    animation: neon1 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(2) {
    background-color: rgba(255, 221, 27, 0.6);
    -webkit-animation: neon2 1.5s ease-in infinite alternate;
    animation: neon2 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(3) {
    margin-right: 1rem;
    background-color: rgba(34, 141, 255, 0.6);
    -webkit-animation: neon3 1.5s ease-in infinite alternate;
    animation: neon3 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(4) {
    margin-left: 1rem;
    background-color: rgba(182, 255, 0, 0.6);
    -webkit-animation: neon4 1.5s ease-in infinite alternate;
    animation: neon4 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(5) {
    background-color: rgba(255, 153, 0, 0.6);
    -webkit-animation: neon5 1.5s ease-in infinite alternate;
    animation: neon5 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(6) {
    margin-right: 1rem;
    background-color: rgba(186, 1, 255, 0.6);
    -webkit-animation: neon6 1.5s ease-in infinite alternate;
    animation: neon6 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(7) {
    margin-left: 1rem;
    background-color: rgba(255, 7, 58, 0.6);
    -webkit-animation: neon7 1.5s ease-in infinite alternate;
    animation: neon7 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(8) {
    background-color: rgba(0, 30, 255, 0.6);
    -webkit-animation: neon8 1.5s ease-in infinite alternate;
    animation: neon8 1.5s ease-in infinite alternate; }
  .pad-btn:nth-child(9) {
    margin-right: 1rem;
    background-color: rgba(255, 17, 119, 0.6);
    -webkit-animation: neon9 1.5s ease-in infinite alternate;
    animation: neon9 1.5s ease-in infinite alternate; }

@keyframes neon1 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ff1177, inset 0 0 70px #ff1177, inset 0 0 80px #ff1177, inset 0 0 100px #ff1177, inset 0 0 150px #ff1177; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ff1177, inset 0 0 35px #ff1177, inset 0 0 40px #ff1177, inset 0 0 50px #ff1177, inset 0 0 75px #ff1177; } }

@keyframes neon2 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ffdd1b, inset 0 0 70px #ffdd1b, inset 0 0 80px #ffdd1b, inset 0 0 100px #ffdd1b, inset 0 0 150px #ffdd1b; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ffdd1b, inset 0 0 35px #ffdd1b, inset 0 0 40px #ffdd1b, inset 0 0 50px #ffdd1b, inset 0 0 75px #ffdd1b; } }

@keyframes neon3 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #228dff, inset 0 0 70px #228dff, inset 0 0 80px #228dff, inset 0 0 100px #228dff, inset 0 0 150px #228dff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #228dff, inset 0 0 35px #228dff, inset 0 0 40px #228dff, inset 0 0 50px #228dff, inset 0 0 75px #228dff; } }

@keyframes neon4 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #b6ff00, inset 0 0 70px #b6ff00, inset 0 0 80px #b6ff00, inset 0 0 100px #b6ff00, inset 0 0 150px #b6ff00; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #b6ff00, inset 0 0 35px #b6ff00, inset 0 0 40px #b6ff00, inset 0 0 50px #b6ff00, inset 0 0 75px #b6ff00; } }

@keyframes neon5 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ff9900, inset 0 0 70px #ff9900, inset 0 0 80px #ff9900, inset 0 0 100px #ff9900, inset 0 0 150px #ff9900; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ff9900, inset 0 0 35px #ff9900, inset 0 0 40px #ff9900, inset 0 0 50px #ff9900, inset 0 0 75px #ff9900; } }

@keyframes neon6 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ba01ff, inset 0 0 70px #ba01ff, inset 0 0 80px #ba01ff, inset 0 0 100px #ba01ff, inset 0 0 150px #ba01ff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ba01ff, inset 0 0 35px #ba01ff, inset 0 0 40px #ba01ff, inset 0 0 50px #ba01ff, inset 0 0 75px #ba01ff; } }

@keyframes neon7 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ff073a, inset 0 0 70px #ff073a, inset 0 0 80px #ff073a, inset 0 0 100px #ff073a, inset 0 0 150px #ff073a; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ff073a, inset 0 0 35px #ff073a, inset 0 0 40px #ff073a, inset 0 0 50px #ff073a, inset 0 0 75px #ff073a; } }

@keyframes neon8 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #001eff, inset 0 0 70px #001eff, inset 0 0 80px #001eff, inset 0 0 100px #001eff, inset 0 0 150px #001eff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #001eff, inset 0 0 35px #001eff, inset 0 0 40px #001eff, inset 0 0 50px #001eff, inset 0 0 75px #001eff; } }

@keyframes neon9 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ba01ff, inset 0 0 70px #ba01ff, inset 0 0 80px #ba01ff, inset 0 0 100px #ba01ff, inset 0 0 150px #ba01ff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ba01ff, inset 0 0 35px #ba01ff, inset 0 0 40px #ba01ff, inset 0 0 50px #ba01ff, inset 0 0 75px #ba01ff; } }

@-webkit-keyframes neon1 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ff1177, inset 0 0 70px #ff1177, inset 0 0 80px #ff1177, inset 0 0 100px #ff1177, inset 0 0 150px #ff1177; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ff1177, inset 0 0 35px #ff1177, inset 0 0 40px #ff1177, inset 0 0 50px #ff1177, inset 0 0 75px #ff1177; } }

@-webkit-keyframes neon2 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ffdd1b, inset 0 0 70px #ffdd1b, inset 0 0 80px #ffdd1b, inset 0 0 100px #ffdd1b, inset 0 0 150px #ffdd1b; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ffdd1b, inset 0 0 35px #ffdd1b, inset 0 0 40px #ffdd1b, inset 0 0 50px #ffdd1b, inset 0 0 75px #ffdd1b; } }

@-webkit-keyframes neon3 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #228dff, inset 0 0 70px #228dff, inset 0 0 80px #228dff, inset 0 0 100px #228dff, inset 0 0 150px #228dff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #228dff, inset 0 0 35px #228dff, inset 0 0 40px #228dff, inset 0 0 50px #228dff, inset 0 0 75px #228dff; } }

@-webkit-keyframes neon4 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #b6ff00, inset 0 0 70px #b6ff00, inset 0 0 80px #b6ff00, inset 0 0 100px #b6ff00, inset 0 0 150px #b6ff00; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #b6ff00, inset 0 0 35px #b6ff00, inset 0 0 40px #b6ff00, inset 0 0 50px #b6ff00, inset 0 0 75px #b6ff00; } }

@-webkit-keyframes neon5 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ff9900, inset 0 0 70px #ff9900, inset 0 0 80px #ff9900, inset 0 0 100px #ff9900, inset 0 0 150px #ff9900; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ff9900, inset 0 0 35px #ff9900, inset 0 0 40px #ff9900, inset 0 0 50px #ff9900, inset 0 0 75px #ff9900; } }

@-webkit-keyframes neon6 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ba01ff, inset 0 0 70px #ba01ff, inset 0 0 80px #ba01ff, inset 0 0 100px #ba01ff, inset 0 0 150px #ba01ff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ba01ff, inset 0 0 35px #ba01ff, inset 0 0 40px #ba01ff, inset 0 0 50px #ba01ff, inset 0 0 75px #ba01ff; } }

@-webkit-keyframes neon7 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ff073a, inset 0 0 70px #ff073a, inset 0 0 80px #ff073a, inset 0 0 100px #ff073a, inset 0 0 150px #ff073a; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ff073a, inset 0 0 35px #ff073a, inset 0 0 40px #ff073a, inset 0 0 50px #ff073a, inset 0 0 75px #ff073a; } }

@-webkit-keyframes neon8 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #001eff, inset 0 0 70px #001eff, inset 0 0 80px #001eff, inset 0 0 100px #001eff, inset 0 0 150px #001eff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #001eff, inset 0 0 35px #001eff, inset 0 0 40px #001eff, inset 0 0 50px #001eff, inset 0 0 75px #001eff; } }

@-webkit-keyframes neon9 {
  from {
    box-shadow: inset 0 0 10px #fff, inset 0 0 20px #fff, inset 0 0 30px #fff, inset 0 0 40px #ba01ff, inset 0 0 70px #ba01ff, inset 0 0 80px #ba01ff, inset 0 0 100px #ba01ff, inset 0 0 150px #ba01ff; }
  to {
    box-shadow: inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 15px #fff, inset 0 0 20px #ba01ff, inset 0 0 35px #ba01ff, inset 0 0 40px #ba01ff, inset 0 0 50px #ba01ff, inset 0 0 75px #ba01ff; } }

.display {
  color: black;
  background-color: white;
  align-self: center;
  justify-self: center;
  height: 80%;
  width: 80%; }
  .display__volume {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    color: #ffa500;
    font-family: var(--font-screens);
    background-color: #161616;
    grid-row: volume-start / volume-end; }
  .display__sound {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: var(--font-screens);
    grid-row: display-start / display-end;
    background-color: #77abff;
    box-shadow: inset 0 0 2px 1px #161616; }

.copy {
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: copy-start / copy-end;
  font-family: var(--font-screens); }
