// Btn Panel component
.btn-panel {
    color: #555;
    align-self: center;
    justify-self: center;
    height: 80%;
    width: 80%;
    grid-row: controls-start / controls-end;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-screens);
        font-size: 1.3rem;
    }

    &__btn {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        margin-bottom: 1rem;
        cursor: pointer;
        outline: none;
        border: none;
        background-image: radial-gradient(at 25% bottom, #161616, #282828 50%, grey);
        box-shadow: 1px 1px 1px 1px #161616;
    }
}
